<!DOCTYPE html>
<html lang="en">

<head>

    <title>Detail !</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Detail</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="menu-btn menu-button" goto="#readme" href="#">README</a>
                    </li>
                    <li>
                        <a class="menu-btn menu-button" goto="#info" href="#">Infos</a>
                    </li>
                    <% if(bug) { %>
                      <%- '<li><a class="menu-btn" target="_blank" href="' + bug + '">Report bug</a></li>' %>
                    <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-12" id="readme-id">

                <div class="panel panel-default">
                    <div class="panel-body">
                      <%- readme -%>
                    </div>
                </div>


            </div>
            <div id="info-id">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Project Details</div>
                <div class="panel-body">
                  <table class="table table-stripped table-bordered">
                    <tr>
                       <td> Package name </td>
                       <td> <%= name %><% if(global) { %> <span class="btn label label-default"> Global </span> <% } %> </td>
                    </tr>
                    <tr> <td> Description </td><td> <%= description %> </td> </tr>
                    <tr> <td> Author </td> <td> <%= author %> </td> </tr>
                    <tr> <td> Email </td> <td> <%= email %> </td> </tr>
                    <tr> <td> Website </td> <td> <%= website %> </td> </tr>
                    <tr> <td> Repository </td><td> <%= repo %> </td></tr>
                  </table>
                </div>
                <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item">
                    <b>Dependencies : </b>
                    <% for(var key in dependencies) { %>
                      <%- '<a href="http://npmjs.org/package/' + key + '" target="_blank">' %>
                        <span class="btn label label-success">
                          <%= key %> <%= dependencies[key] %>
                        </span> 
                      </a> &nbsp;
                    <% } %>
                  </li>
                  <li class="list-group-item">
                    <b>Tags : </b>
                    <% for (var i=0; i< tags.length; i++) {%>
                      <span class="label label-info"> <%= tags[i] %> </span> &nbsp;
                    <%}%>
                  </li>
                  <li class="list-group-item">
                    <b>Version : </b> <span class="label label-primary"><%= version %></span>
                  </li>
                  <li class="list-group-item">
                    <b>License : </b>
                    <span class="label label-warning"><%= license %></span>
                  </li>
                </ul>
              </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
    <footer class="container well">
      Author: Khalid REHIOUI
      <span class="pull-right"> 
        <a href="http://npmjs.org/~javascript" target="_blank"> npmjs </a> | 
        <a href="http://twitter.com/Javascipt" target="_blank"> twitter </a> | 
        <a href="http://github.com/Javascipt" target="_blank"> github </a>
      </span>
    </footer>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- App -->
    <script src="js/app.js"></script>


</body>

</html>
